<div class="container-fluid">

    <div class="col-md-8 mx-auto">
        <div class="card card-body text-center">
            <p> Ya existe una empresa registrada, puede eliminar la actual y crear una nueva, o bien, editar la ya
                existente. </p>
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <a href="/sys/mi-empresa">
                        &larr; Regresar a Mi Empresa </a> | <a href="/transacciones/facturas/new">
                        &larr; Regresar a Facturación </a>
                </div>
            </div>
        </div>
    </div>

</div>