<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="container mt-4 mx-auto">
            <img class="not-found" src="/img/empty-box.png" alt="notfound">
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <p class="lead text-gray-800">No hay ventas registradas en el día.</p>
                <p class="text-gray-500 mb-0">Para poder realizar el cierre de caja diario, es necesario que existan ventas registradas el dia de hoy.
                </p>
                <div class="row">
                    <div class="col-md-12 mx-auto">
                        <a href="/dashboard">&larr; Regresar al Dashboard</a>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>