<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="container mt-4 mx-auto">
            <img class="not-found" src="/img/tiempo.png" alt="notfound">
        </div>
        <div class="row mb-4">
            <div class="col-md-12">
                <p class="lead text-gray-800">Arqueo no disponible.</p>
                <p class="text-gray-500 mb-0">
                    El proceso para la realizacion del cierre diario solamente esta disponible entre las horas <b>{{hourRange.newTimeInit}}</b> y las <b> {{hourRange.newTimeFinal}}. </b> 
                </p>
                <div class="row">
                    <div class="col-md-12 mx-auto">
                        <a href="/dashboard">&larr; Regresar al Dashboard</a>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>