<div class="container-fluid">

  <!-- 404 Error Text -->
  <div class="text-center">
    <div class="container mt-4 mx-auto">
      <img class="not-found" src="/img/limit.png" alt="notfound">
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="lead text-gray-800 mb-5">Resolución SAR Vencida</p>
        <p class="text-gray-500 mb-0">Lo sentimos, la resolucion actual registrada para su empresa ha vencido. Su rango
          de facturacion ha llegado a su limite o la fecha limite de emisión a pasado :(. Para resolver este problema, solicite una nueva resolucion ante la autoridad correspondiente.
        </p>
        <div class="row">
                <div class="col-md-12 mx-auto">
                    <a href="/sys/resoluciones">
                        &larr; Regresar a Mi Resolución </a> | <a href="/dashboard">&larr; Regresar al Dashboard</a>
                </div>
            </div>
        
      </div>
    </div>

  </div>

</div>