<div class="container-fluid">

  <!-- 404 Error Text -->
  <div class="text-center">
    <div class="container mt-4 mx-auto">
      <img class="not-found" src="/img/unauthorized.png" alt="notfound">
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-white mb-5">Acceso no disponible</h1>
        <p class="text-white"> Le recomendamos acceder desde la aplicación de escritorio, gracias.</p>
    </div>

  </div>

</div>