<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header font-weight-bold">
                    <div class="text-center mt-4">
                        <box-icon name='expand-horizontal'></box-icon>
                        <h1 class="h4 text-gray-900"> <strong> IS2 Solutions </strong></h1>
                        <p class="brand"> Cambio de Contraseña </p>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/config/recovery-password/{{user.USERNAME}}" method="POST" id="password-form">
                        <div class="form-group">
                            <label>Contraseña Actual</label>
                            <input type="password" class="form-control" name="password_old"
                                placeholder="Ingrese contraseña actual" maxlength="60" required autofocus>
                        </div>


                        <div class="form-group">
                            <label>Nueva Contraseña</label>
                            <input type="password" id="primer-pass" class="form-control"
                                placeholder="Ingrese nueva contraseña" maxlength="60" required autofocus>
                            <div id="msg2-valid" class="valid-feedback">
                                Success! You've done it.
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Verificar contraseña</label>
                            <input type="password" id="segundo-pass" class="form-control" name="password"
                                placeholder="Repita nueva contraseña" maxlength="60" required autofocus>
                            <div id="msg-valid" class="valid-feedback">
                                Success! You've done it.
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" id="password-button" class="btn btn-success float-right">
                                <span id="loading-password" class="spinner-border spinner-border-sm d-none"
                                    role="status" aria-hidden="true"></span>
                                <i class="fas fa-save"></i> <span id="password-text"> Editar </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/perfil/perfil.js"></script>

{{!-- Script Auth - Forgot Password --}}
<script src="/js/auth/auth.js"></script>